* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 1.8rem;
}

.header-inside {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  width: 13.5rem;
}

nav .menu {
  display: flex;
  list-style: none;
  gap: 6rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

nav .menu .menu-item {
  position: relative;
}

.bi-chevron-down {
  position: absolute;
  top: 0.3rem;
  right: -2.2rem;
}

.btn-container {
  display: flex;
  gap: 1rem;
}

.btn-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #005ea6;
  width: 8rem;
  height: 3.2em;
  border-radius: 3.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}

.btn-container .btn-login {
  border: 1px solid #005ea6;
}

.btn-container .btn-signup {
  background-color: #0070ba;
  color: #fff;
}

.btn-container .btn-signup:hover {
  background-color: #005ea6;
}

.hero {
  background-image: url(./images/homepage-hero.jpeg);
}

.hero-text-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20rem 8rem 10rem;
}

h1 {
  font-size: 3.85714286rem;
  color: #fff;
  line-height: 1.25em;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.hero-text-container p {
  color: #fff;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.333em;
  text-align: center;
}
